{
    "server_name": "MyAssetServer",
    "motd": "Welcome to My Asset Server!",
    "assets_directory": "/server_assets",
    "categories": [
        "characters",
        "environments",
        "objects"
    ]

}